{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "tabWidth": 2,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "semi": false,
  "jsonRecursiveSort": true
}
